﻿@model ClientApiModel

<div class="content">
    <div class="form-horizontal">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ClientName" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ClientName" asp-required="true" />
                            <span asp-validation-for="ClientName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ClientId" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ClientId" asp-disabled="true" asp-required="true" />
                            <span asp-validation-for="ClientId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ClientSecret" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="ClientSecret" asp-disabled="true" asp-required="true" />
                            <span asp-validation-for="ClientSecret"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="RedirectUrl" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="RedirectUrl" asp-required="true" />
                            <span asp-validation-for="RedirectUrl"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AccessTokenLifetime" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="AccessTokenLifetime" asp-required="true" asp-postfix="sec" />
                            <span asp-validation-for="AccessTokenLifetime"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="RefreshTokenLifetime" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="RefreshTokenLifetime" asp-required="true" asp-postfix="sec" />
                            <span asp-validation-for="RefreshTokenLifetime"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AccessRole" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="AccessRole" asp-items="Model.AvailableRoles" />
                            <span asp-validation-for="AccessRole"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Enabled" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Enabled" />
                            <span asp-validation-for="Enabled"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Client.Customer.Mappings")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="">
                        <nop-label asp-for="SelectedCustomerIds" />
                    </div>
                    <div class="">
                        <nop-select asp-for="SelectedCustomerIds" asp-items="Model.AvailableCustomers" asp-multiple="true" />
                        <script type="text/javascript">
                                $(document).ready(function() {
                                    var customerIdsInput = $('#@Html.IdFor(model => model.SelectedCustomerIds)').data("kendoMultiSelect");
                                    customerIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                                    @if (Model.AvailableCustomers.Count == 0)
                            {
                                <text>
                                    customerIdsInput.setOptions({
                                        enable: false,
                                        placeholder: '@T("Admin.Client.Customers.NoCustomerAvailable")'
                                    });
                                    customerIdsInput._placeholder();
                                    customerIdsInput._enable();
                                    </text>
                            }
                                });
                        </script>
                    </div>
                </div></div>
        </div>

    </div>
</div>